.container {
padding: 0 1rem;
widows: 100px;
height: 100px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.btn{
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px ;
    cursor: pointer;
}

.btn:hover{
    background: #666;
}
