.container {
    padding: 0 1rem;
    position : absolute;    
    width    : 200px;
    height   : 200px;
    left     : 25%;
    margin-left : -50px; /* half of the width  */
}

.btn{
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px ;
    cursor: pointer;
}

.btn:hover{
    background: #666;
}
